footer {
    margin-top: 15px;
}

.back-panel {
    font-size: 0.85rem;
    height: 50px;
    background-color: #374758;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-panel a {
    text-decoration: none;
    color: white;
}

.links-panel {
    height: 400px;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 60px 40px;
}

h3 {
    margin-bottom: 2px;
}

.container ul {
    list-style-type: none;
    font-weight: 100;
}

.container ul li {
    cursor: pointer;
    color: #dddddd;
    margin-top: 10px;
}

.container ul li:hover {
    text-decoration: underline;
}

.last-panel {
    height: 110px;
    border-top: 2px solid #374758;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 12px;
}

.language, .country1, .currency {
    border: 1px solid #58718b;
    border-radius: 3px;
    cursor: pointer;
}

.language {
    padding: 12px 1px 12px 12px;
}

.country1, .currency {
    padding: 12px 32px 12px 12px;
}

.globe , .language i, .dollar{
    margin-right: 10px;
    font-size: 15px;
}

.arrow {
    margin-left: 25px;
}

.logo1{
    background-image: url(assets/amazon_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 55px;
    width: 110px;
    cursor: pointer;
    margin-right: 80px;
    display: flex;
    margin-top: 12px;
}

.copy-panel {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 5px;
    background-color: #131a22;
    color: #fff;
}

.copy-panel a {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
}

.copy-panel a:hover {
    text-decoration: underline;
}